@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700&display=swap');

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  background-image: url('jack-movies-background.png');
}

.container {
  width: 100%;
  margin: 1em auto;
  background-color: rgb(104, 59, 17);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.card-title {
  font-size: 1.2em;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  position: absolute;
  top: 20px;
  left: 16px;
  right: 16px;
}

img {
  width: 100%;
  height: 449px;
}

.card {
  max-width: 300px;
  width: 100%;
  padding: 5px;
  margin: auto;
  margin-top: 10px;

  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
}
